<h2>All Heroines</h2>
<hr>
<button class="ui right labeled icon button">
  <i class="right arrow icon"></i>
  <%=link_to "Create Heroine", new_heroine_path, method: :get %>
</button>

<hr>
<form action="/heroines" method="GET">
<select name="heroines[power_id]">
  <%@powers.each do |power|%>
    <option name="power_id" value=<%=power.id%>> <%=power.name%> </option>
  <%end%>
</select>
<input type="submit" value="Search">
</form>
<hr>
<% @heroines.each do |heroine| %>
  <div class="ui card" style="padding: 5px 0px; text-align:center">
    <%= link_to heroine.super_name, heroine_path(heroine)%>
  </div>
<% end %>

