<h2>This is a Heroine</h2>

<h4>I've found her! <%=@heroine.super_name%>'s real name is <%=@heroine.name%>!</h4>
<h4>She has the power of <%=link_to @heroine.power.name, power_path(@heroine.power)%>...........</h4>
<br>
<h4>BUT SHE DOESN'T STAND A CHANCE AGAINST MY DEATH RAY!!! MUAHAHAHA</h4>
<%=image_tag "/Death_Ray.jpg"%>