/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  display: grid;
  grid-template-columns: 15% 1fr;
}

#main {
  padding-inline-start: 1%;
}
#sidebar {
  height: 100vh;
  padding-block-start: 2%;
  padding-inline-start: 2%;

  border-right: 6px solid grey;
  background-color: lightgrey;
}

#sidebar ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin-block-end: 16px;
}

#sidebar ul li {
  padding-inline-start: 16px;
}
#sidebar ul ul li {
  padding-inline-start: 32px;
}

#sidebar li:before {
  content: "-"; /* Insert content that looks like bullets */
  padding-right: 8px;
}
